/**
 *
 * True Owner:
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Modified by:
 * Author : Asmit Das Choudhury (radiantNearl26)
 * Git : @radiantNearl26
 *
 * Colors : Catppuccin
 **/

* {
    background:     #1E1D2FFF;
    background-alt: #282839FF;
    foreground:     #D9E0EEFF;
    selected:       #7AA2F7FF;
    active:         #ABE9B3FF;
    urgent:         #F28FADFF;
}
