/**
 *
 * True Owner:
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Modified by:
 * Author : Asmit Das Choudhury (radiantNearl26)
 * Git : @radiantNearl26
 *
 * Colors : Nord
 **/

* {
    background:     #2E3440FF;
    background-alt: #383E4AFF;
    foreground:     #E5E9F0FF;
    selected:       #81A1C1FF;
    active:         #A3BE8CFF;
    urgent:         #BF616AFF;
}
