@define-color accent_color #897324;
@define-color accent_fg_color #ffffff;
@define-color accent_bg_color #897324;
@define-color window_bg_color #fff8f0;
@define-color window_fg_color #1e1b15;
@define-color headerbar_bg_color #e0d9cf;
@define-color headerbar_fg_color #1e1b15;
@define-color popover_bg_color #e0d9cf;
@define-color popover_fg_color #1e1b15;
@define-color view_bg_color #fff8f0;
@define-color view_fg_color #1e1b15;
@define-color card_bg_color #fff8f0;
@define-color card_fg_color #1e1b15;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
